# This is the mount authentication file.
# To use this file, copy it to etc/mounts.aut in the icecast base directory
# You specify which group(s) have access to which mountpoints
# Groups are specified in the groups.aut file.
# Note that you CANNOT specify users, only groups
# Separate the mountpoint from the groups with a colon, and the
# groups with commas
# Example:
# /monkey:enterprise,bandcamp
# There are two special keywords, "all" and "rest", if you specify
# "all" as the mountpoint (without slash), all other mountpoint
# authorization lines are ignored and only the groups specified
# on the "all" line are used.
# The mountpoints /admin and /oper specify which users and groups can
# use the WWW admin interface command, and operator commands. Don't
# remove these, or anyone will have full access to the server.
# The groups specified on the "rest" line are used to authorize
# the mountpoint for which there are no lines.
# Note that you DO NOT have to specifiy "rest" or "all". In fact
# I suspect most people will not want this feature.
# Example:
# /reggae:reggaegroup,bandcamp
# rest:enterprise
/admin
/oper
