<SCRIBUSRC>
 <GUI RAD="40" UNIT="0" APF="12" DOC="/home" FRV="1" GRAB="4" STILT="Default" RCD="5" SBS="1" />
 <GRID MINOR="20" MAJOR="100" GuideC="#000080" MAJORC="#00ff00" BACKG="1" GuideZ="10" MINORC="#00ff00" />
 <PAGE TRANS="0" MARGC="#0000ff" DScale="1" RANDF="0" PAGEC="#ffffff" />
 <FONTS SIZE="12" FACE="Luxi Serif Medium Italic" />
 <TYPO TIEF="33" TIEFSC="100" AUTOL="20" SMCAPS="75" HOCH="33" HOCHSC="100" />
 <TOOLS MAGMAX="800" PASPECT="1" POLYR="0" WIDTH="1" POLYS="0" POLYC="4" STIL="1" PEN="Black" WIDTHLINE="1" POLYF="0.5" BRUSH="Black" BRUSHSHADE="100" PICTSCX="1" CPICT="White" PENLINE="Black" POLYFD="0" PICTSCY="1" MAGSTEP="25" PSCALE="1" LINESHADE="100" PENSHADE="100" PENTEXT="Black" PICTSHADE="100" MAGMIN="10" STILLINE="1" />
 <MAINWINDOW WIDTH="610" HEIGHT="600" YPOS="51" XPOS="147" />
 <TOOLPALETTE VISIBLE="1" PDFVISIBLE="1" />
 <TREEPALETTE YPOS="137541376" XPOS="137550040" VISIBLE="0" />
 <NODEPALETTE YPOS="24" XPOS="16" />
 <SCRAPBOOK WIDTH="1086745216" PREVIEW="40" HEIGHT="136997096" YPOS="1086745216" XPOS="385" VISIBLE="0" SAVE="1" />
 <LAYERPALETTE YPOS="136" XPOS="24" VISIBLE="0" />
 <PAGEPALETTE NAMES="1" YPOS="-1" XPOS="-1" THUMBS="0" VISIBLE="0" />
 <DOKUMENT DOPPEL="0" RANDL="9" AutoSaveTime="600000" LINKS="0" RANDO="9" BREITE="595" AUSRICHTUNG="0" RANDR="9" HOEHE="842" FORMATCODE="4" AutoSave="0" RANDU="40" />
 <BOOKPALETTE YPOS="137560984" XPOS="1081269892" VISIBLE="0" />
 <MEASUREMENTS YPOS="1" XPOS="58" VISIBLE="0" />
 <CMS DPIn2="" DPgam="0" DIMo="1" DIPr="0" DPuse="0" DPSo="0" DIMo2="1" DPPr="" DPMo="" DPIn="" />
 <PRINTER COMMAND="" FILE="" NAME="" />
 <HYPHEN MODE="1" WORDLEN="3" INMODE="0" LANG="" />
 <COLOR RGB="#000000" CMYK="#000000ff" NAME="Black" />
 <COLOR RGB="#0000ff" CMYK="#ffff0000" NAME="Blue" />
 <COLOR RGB="#00ffff" CMYK="#ff000000" NAME="Cyan" />
 <COLOR RGB="#00ff00" CMYK="#ff00ff00" NAME="Green" />
 <COLOR RGB="#ff00ff" CMYK="#00ff0000" NAME="Magenta" />
 <COLOR RGB="#ff0000" CMYK="#00ffff00" NAME="Red" />
 <COLOR RGB="#ffffff" CMYK="#00000000" NAME="White" />
 <COLOR RGB="#ffff00" CMYK="#0000ff00" NAME="Yellow" />
 <FONT USE="1" EMBED="1" NAME="Luxi Serif Medium Italic" />
 <FONT USE="1" EMBED="1" NAME="Luxi Sans Medium" />
 <FONT USE="1" EMBED="1" NAME="Utopia Bold" />
 <FONT USE="1" EMBED="1" NAME="Courier Medium" />
 <FONT USE="1" EMBED="1" NAME="Luxi Serif Bold" />
 <FONT USE="1" EMBED="1" NAME="Luxi Mono Medium" />
 <FONT USE="1" EMBED="1" NAME="Luxi Sans Bold" />
 <FONT USE="1" EMBED="1" NAME="Luxi Mono Bold Italic" />
 <FONT USE="1" EMBED="1" NAME="Luxi Sans Bold Italic" />
 <FONT USE="1" EMBED="1" NAME="Charter Medium Italic" />
 <FONT USE="1" EMBED="1" NAME="Utopia Medium Italic" />
 <FONT USE="1" EMBED="1" NAME="Luxi Serif Bold Italic" />
 <FONT USE="1" EMBED="1" NAME="Utopia Bold Italic" />
 <FONT USE="1" EMBED="1" NAME="Cursor Medium" />
 <FONT USE="1" EMBED="1" NAME="Luxi Mono Medium Italic" />
 <FONT USE="1" EMBED="1" NAME="Charter Bold Italic" />
 <FONT USE="1" EMBED="1" NAME="Courier Medium Italic" />
 <FONT USE="1" EMBED="1" NAME="Charter Bold" />
 <FONT USE="1" EMBED="1" NAME="Courier Bold" />
 <FONT USE="1" EMBED="1" NAME="Luxi Mono Bold" />
 <FONT USE="1" EMBED="1" NAME="Courier Bold Italic" />
 <FONT USE="1" EMBED="1" NAME="Luxi Sans Medium Italic" />
 <FONT USE="1" EMBED="1" NAME="Luxi Serif Medium" />
 <FONT USE="1" EMBED="1" NAME="Charter Medium" />
 <FONT USE="1" EMBED="1" NAME="Utopia Medium" />
 <SHORTCUT NR="0" CODE="4194382" />
 <SHORTCUT NR="1" CODE="4194383" />
 <SHORTCUT NR="2" CODE="4194391" />
 <SHORTCUT NR="3" CODE="4194387" />
 <SHORTCUT NR="4" CODE="0" />
 <SHORTCUT NR="5" CODE="4194377" />
 <SHORTCUT NR="6" CODE="0" />
 <SHORTCUT NR="7" CODE="4194384" />
 <SHORTCUT NR="8" CODE="4194385" />
 <SHORTCUT NR="9" CODE="4194392" />
 <SHORTCUT NR="10" CODE="4194371" />
 <SHORTCUT NR="11" CODE="4194390" />
 <SHORTCUT NR="12" CODE="0" />
 <SHORTCUT NR="13" CODE="4194369" />
 <SHORTCUT NR="14" CODE="0" />
 <SHORTCUT NR="15" CODE="0" />
 <SHORTCUT NR="16" CODE="0" />
 <SHORTCUT NR="17" CODE="0" />
 <SHORTCUT NR="18" CODE="0" />
 <SHORTCUT NR="19" CODE="4194381" />
 <SHORTCUT NR="20" CODE="4194372" />
 <SHORTCUT NR="21" CODE="0" />
 <SHORTCUT NR="22" CODE="4194379" />
 <SHORTCUT NR="23" CODE="4194375" />
 <SHORTCUT NR="24" CODE="4194389" />
 <SHORTCUT NR="25" CODE="0" />
 <SHORTCUT NR="26" CODE="0" />
 <SHORTCUT NR="27" CODE="0" />
 <SHORTCUT NR="28" CODE="0" />
 <SHORTCUT NR="29" CODE="0" />
 <SHORTCUT NR="30" CODE="0" />
 <SHORTCUT NR="31" CODE="0" />
 <SHORTCUT NR="32" CODE="0" />
 <SHORTCUT NR="33" CODE="0" />
 <SHORTCUT NR="34" CODE="4194352" />
 <SHORTCUT NR="35" CODE="0" />
 <SHORTCUT NR="36" CODE="0" />
 <SHORTCUT NR="37" CODE="4194353" />
 <SHORTCUT NR="38" CODE="0" />
 <SHORTCUT NR="39" CODE="0" />
 <SHORTCUT NR="40" CODE="0" />
 <SHORTCUT NR="41" CODE="0" />
 <SHORTCUT NR="42" CODE="0" />
 <SHORTCUT NR="43" CODE="0" />
 <SHORTCUT NR="44" CODE="0" />
 <SHORTCUT NR="45" CODE="0" />
 <SHORTCUT NR="46" CODE="0" />
 <SHORTCUT NR="47" CODE="0" />
 <SHORTCUT NR="48" CODE="0" />
 <SHORTCUT NR="49" CODE="0" />
 <SHORTCUT NR="50" CODE="0" />
 <SHORTCUT NR="51" CODE="0" />
 <SHORTCUT NR="52" CODE="0" />
 <SHORTCUT NR="53" CODE="0" />
 <SHORTCUT NR="54" CODE="0" />
 <SHORTCUT NR="55" CODE="0" />
 <SHORTCUT NR="56" CODE="8388653" />
 <SHORTCUT NR="57" CODE="4194380" />
 <SHORTCUT NR="58" CODE="4194386" />
 <SHORTCUT NR="59" CODE="4194373" />
 <SHORTCUT NR="60" CODE="8388643" />
 <SHORTCUT NR="61" CODE="0" />
 <SHORTCUT NR="62" CODE="0" />
 <SHORTCUT NR="63" CODE="0" />
 <SHORTCUT NR="64" CODE="4194394" />
 <SHORTCUT NR="65" CODE="0" />
 <SHORTCUT NR="66" CODE="4194376" />
 <SHORTCUT NR="67" CODE="4194336" />
</SCRIBUSRC>
