<?xml version="1.0"?>
<config version="0.0.7">
  <papsec-edit-command-x11>nedit /etc/ppp/pap-secrets &amp;</papsec-edit-command-x11>
  <dockicons-dir>phone</dockicons-dir>
  <monitor-period>2.0</monitor-period>
  <status-refresh-period>10.0</status-refresh-period>
  <confirm-exit>1</confirm-exit>
  <confirm-delete-account>1</confirm-delete-account>
  <write-dns-to-resolv-conf>1</write-dns-to-resolv-conf>
  <pppd-cbcp-with-auto-answer>0</pppd-cbcp-with-auto-answer>
  <wnd-title-fmt-disconnected>%(program_name)s %(program_version)s - Disconnected</wnd-title-fmt-disconnected>
  <wnd-title-fmt-connecting>%(program_name)s %(program_version)s - Connecting to %(name)s</wnd-title-fmt-connecting>
  <wnd-title-fmt-connected>%(program_name)s %(program_version)s - Connected to %(name)s</wnd-title-fmt-connected>
  <default-account answer-cmd="ATA" ask-passwd="0" auth-type="pap/chap/std-script" busy-resp="BUSY" callback="0" callback-init-cmd="ATZ" callback-init2-cmd="AT" callback-phone-number="" chat-login-prompt="ogin:" chat-passwd-prompt="ord:" connect-program="" connect-resp="CONNECT" default-route="1" dial-cmd="ATDT" dial-prefix="" dial-timeout="60" disconnect-program="" error-resp="ERROR" hangup-cmd="+++ATH" hangup-resp="OK" init-cmd="ATZ" init-resp="OK" init2-cmd="AT" ip="" lock-device="1" low-vol-cmd="ATM1L1" mask="" max-vol-cmd="ATM1L3" min-speed="0" modem-device="/dev/ttyS0" modem-flow="crtscts" modem-term="\r\n" modem-timeout="3" mru="296" mtu="296" mute-cmd="ATM0L0" name="" noanswer-resp="NO ANSWER" nocarrier-resp="NO CARRIER" nodialtone-resp="NO DIALTONE" passwd="" ppp-timeout="5" prompt-timeout="5" redial-attempts="1" redial-auto="0" remote="" remotename="" ring-resp="RING" speed="115200" user="" vol-resp="OK" volume-setting="2">
    <dns-server-list/>
    <chat-script></chat-script>
    <comment/>
    <phone-number-list/>
  </default-account>
<gtk2-ui><on-connect>nothing</on-connect><browser>mozilla %s</browser></gtk2-ui></config>
