LEFT_TO_RIGHT_TIME_(SECONDS) 0.000000e+00
LEFT_TO_RIGHT_FEEDBACK_(PERCENT) 0.000000e+00
RIGHT_TO_LEFT_TIME_(SECONDS) 0.000000e+00
RIGHT_TO_LEFT_FEEDBACK_(PERCENT) 0.000000e+00
LOW-PASS_CUTOFF_(HZ) 0.000000e+00
