# cdrom symlinks and other good cdrom naming
BUS=="ide",	KERNEL=="hd[a-z]", ACTION=="add", IMPORT="/lib/udev/cdrom_id --export $tempnode"
BUS=="scsi",	KERNEL=="sr[0-9]*", ACTION=="add", IMPORT="/lib/udev/cdrom_id --export $tempnode"
BUS=="scsi",	KERNEL=="scd[a-z]", ACTION=="add", IMPORT="/lib/udev/cdrom_id --export $tempnode"
BUS=="scsi",	KERNEL=="sg[0-9]*", ACTION=="add", DRIVERS=="sr", GROUP="cdrom"
ENV{ID_CDROM}=="?*",		SYMLINK+="cdrom", GROUP="cdrom"
ENV{ID_CDROM_CD_RW}=="?*",	SYMLINK+="cdrw"
ENV{ID_CDROM_DVD}=="?*",	SYMLINK+="dvd"
ENV{ID_CDROM_DVD_R}=="?*",	SYMLINK+="dvdrw"

