<?xml version="1.0"?>
<Preset version="0.6.0">
  <Params fft_size="512" windowing="0" update_speed="2" oversamp="4" tempo="120" max_delay="2.5"/>
  <Channels>
    <Channel pos="0" input_gain="1" mix_ratio="1" bypassed="0" muted="0">
      <ProcMods>
        <ProcMod pos="0" name="EQ">
          <Filter pos="0" name="freq" linked="-1" bypassed="0" file="0_0_freq.filter">
            <Extra/>
          </Filter>
        </ProcMod>
        <ProcMod pos="1" name="Pitch">
          <Filter pos="0" name="scale" linked="-1" bypassed="1" file="0_1_scale.filter">
            <Extra/>
          </Filter>
        </ProcMod>
        <ProcMod pos="2" name="Gate">
          <Filter pos="0" name="inverse_gate" linked="-1" bypassed="1" file="0_2_inverse_gate.filter">
            <Extra/>
          </Filter>
          <Filter pos="1" name="gate" linked="-1" bypassed="1" file="0_2_gate.filter">
            <Extra/>
          </Filter>
        </ProcMod>
        <ProcMod pos="3" name="Delay">
          <Filter pos="0" name="delay" linked="-1" bypassed="0" file="0_3_delay.filter">
            <Extra/>
          </Filter>
          <Filter pos="1" name="feedback" linked="-1" bypassed="0" file="0_3_feedback.filter">
            <Extra/>
          </Filter>
        </ProcMod>
      </ProcMods>
      <Inputs/>
      <Outputs>
        <Port name="alsa_pcm:playback_1"/>
      </Outputs>
    </Channel>
    <Channel pos="1" input_gain="1" mix_ratio="1" bypassed="0" muted="0">
      <ProcMods>
        <ProcMod pos="0" name="EQ">
          <Filter pos="0" name="freq" linked="0" bypassed="0" file="1_0_freq.filter">
            <Extra/>
          </Filter>
        </ProcMod>
        <ProcMod pos="1" name="Pitch">
          <Filter pos="0" name="scale" linked="0" bypassed="1" file="1_1_scale.filter">
            <Extra/>
          </Filter>
        </ProcMod>
        <ProcMod pos="2" name="Gate">
          <Filter pos="0" name="inverse_gate" linked="0" bypassed="1" file="1_2_inverse_gate.filter">
            <Extra/>
          </Filter>
          <Filter pos="1" name="gate" linked="0" bypassed="1" file="1_2_gate.filter">
            <Extra/>
          </Filter>
        </ProcMod>
        <ProcMod pos="3" name="Delay">
          <Filter pos="0" name="delay" linked="0" bypassed="0" file="1_3_delay.filter">
            <Extra/>
          </Filter>
          <Filter pos="1" name="feedback" linked="0" bypassed="0" file="1_3_feedback.filter">
            <Extra/>
          </Filter>
        </ProcMod>
      </ProcMods>
      <Inputs/>
      <Outputs>
        <Port name="alsa_pcm:playback_2"/>
      </Outputs>
    </Channel>
  </Channels>
  <Modulators/>
</Preset>
