[Entry 0]
Name=Web Browser
Name[be]=Гартач Сеціва
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[de]=Webbrowser
Name[el]=Περιηγητής ιστοσελίδων
Name[eo]=TTT-Krozilo
Name[es]=Navegador web
Name[eu]=Web Nabigatzailea
Name[fr]=Navigateur Web
Name[he]=דפדפן אינטרנט
Name[hu]=Web böngésző
Name[ko]=웹 브라우져
Name[mk]=Веб прелистувач
Name[nl]=Web browser
Name[pa]=ਵੈੱਬ ਬਰਾਊਂਜ਼ਰ
Name[pl]=Przeglądarka
Name[pt_BR]=Navegador Web
Name[ro]=Navigator documentaţie
Name[sq]=Shfletues Web
Name[sv]=Webbläsare
Name[vi]=Trình duyệt Web
Name[zh_TW]=網路瀏覽器
Exec=exo-open --launch WebBrowser
Terminal=false
StartupNotify=false
Comment=Surf the internet
Comment[be]=Вандроўкі ў Сеціве
Comment[ca]=Navega per la xarxa
Comment[cs]=Surfovat na internetu
Comment[de]=Im Internet surfen
Comment[el]=Περιήγηση στο διαδίκτυο
Comment[eo]=Krozu tra la Interreto
Comment[es]=Navegue en Internet
Comment[eu]=Internet nabigatu
Comment[fr]=Naviguer sur internet
Comment[he]=גלוש באינטרנט
Comment[hu]=Barangolás a weben
Comment[ko]=정보의 바다로
Comment[mk]=Сурфајте на интернет
Comment[nl]=Surfen op internet
Comment[pa]=ਇੰਟਰਨੈੱਟ ਵੇਖੋ
Comment[pl]=Przeglądaj Internet
Comment[pt_BR]=Navegar pela internet
Comment[ro]=Navigare pe Internet
Comment[sq]=Lundroni në Internet
Comment[sv]=Surfa på internet
Comment[vi]=Duyệt Internet
Comment[zh_TW]=網上衝浪
X-XFCE-IconCategory=7

