[Entry 0]
Name=File Manager
Name[be]=Кіраўнік файлаў
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[de]=Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[eo]=Dosier-administrilo
Name[es]=Gestor de ficheros
Name[eu]=Fitxategi kudeatzailea
Name[fr]=Gestionnaire de fichiers
Name[he]=סייר קבצים
Name[hu]=Fájlkezelő
Name[ko]=화일 관리자
Name[mk]=Менаџер на датотеки
Name[nl]=Bestandsbeheer
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menadżer plików
Name[pt_BR]=Gerenciador de Arquivos
Name[ro]=Administrator de fişiere
Name[sq]=Përgjegjës Kartelash
Name[sv]=Filhanterare
Name[vi]=Trình quản lí tập tin
Name[zh_TW]=檔案管理程式
Exec=thunar
Terminal=false
StartupNotify=true
Comment=Manage files and folders
Comment[be]=Кіраваньне файламі і тэчкамі
Comment[ca]=Gestiona fitxers i directoris
Comment[cs]=Spravovat soubory a adresáře
Comment[de]=Dateien und Ordner verwalten
Comment[el]=Διαχείριση αρχείων και φακέλων
Comment[eo]=Administru dosierojn kaj dosierujojn
Comment[es]=Gestione ficheros y carpetas
Comment[eu]=Fixtategi eta karpetak kudeatu
Comment[fr]=Gérer les fichiers et répertoires
Comment[he]=ארגן קבצים ותיקיות
Comment[hu]=Fájlok és mappák kezelése
Comment[ko]=화일과 디렉토리를 관리합니다.
Comment[mk]=Менаџирајте со датотеки и папки
Comment[nl]=Bestanden en mappen beheren
Comment[pa]=ਫਾਇਲਾਂ ਅਤੇ ਫੋਲਡਰ ਪਰਬੰਧ
Comment[pl]=Zarządzaj plikami i katalogami
Comment[pt_BR]=Gerenciar arquivos e pastas
Comment[ro]=Administrare de fişiere şi directoare
Comment[sq]=Administroni kartela dhe dosje
Comment[sv]=Hantera filer och kataloger
Comment[vi]=Quản lý tập tin và thư mục
Comment[zh_TW]=管理檔案及資料夾
X-XFCE-IconCategory=2

