[Entry 0]
Name=Editor
Name[ar]=محرر
Name[az]=Editor
Name[be]=Рэдактар
Name[bg]=Редактор
Name[bn_IN]=এডিটর
Name[ca]=Editor
Name[cs]=Editor
Name[de]=Editor
Name[dz]=ཞུན་དགཔ།
Name[el]=Επεξεργαστής κειμένου
Name[en_GB]=Editor
Name[eo]=Redaktilo
Name[es]=Editor
Name[es_MX]=Editor
Name[et]=Redaktor
Name[eu]=Editorea
Name[fa]=ویرایشگر
Name[fi]=Editori
Name[fr]=Éditeur
Name[gl]=Editor
Name[gu]=સંપાદક
Name[he]=עורך
Name[hi]=एडीटर
Name[hu]=Szerkesztő
Name[hy]=Խմբագրիչ
Name[it]=Editor
Name[ja]=エディター
Name[ka]=რედაქტორი
Name[ko]=편집기
Name[lt]=Redaktorius
Name[mk]=Уредувач
Name[mr]=संपादक
Name[ms]=Editor
Name[nb_NO]=Redigerer
Name[nl]=Editor
Name[pa]=ਐਡੀਟਰ
Name[pl]=Edytor
Name[pt_BR]=Editor
Name[pt_PT]=Editor
Name[ro]=Editor
Name[ru]=Редактор
Name[sk]=Editor
Name[sq]=Përpunues
Name[sv]=Textredigerare
Name[ta]=பதிப்பான்
Name[tr]=Düzenleyici
Name[uk]=Редактор
Name[vi]=Trình biên tập
Name[zh_CN]=编辑器
Name[zh_TW]=編輯器
Exec=mousepad
Terminal=false
StartupNotify=true
Comment=Edit text files
Comment[be]=Рэдагаваньне тэкставых файлаў
Comment[ca]=Edita fitxers de text
Comment[cs]=Upravit textové soubory
Comment[de]=Textdateien bearbeiten
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[eo]=Redaktu tekstajn dosierojn
Comment[es]=Editar ficheros de texto
Comment[eu]=Testu fitxategiak editatu
Comment[fr]=Éditer des fichiers texte
Comment[he]=ערוך קבצי טקסט
Comment[hu]=Egyszerű szövegek írása
Comment[ko]=텍스트 화일 수정
Comment[mk]=Уредувајте текстуални датотеки
Comment[nl]=Tekstbestanden bewerken
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧ
Comment[pl]=Edytuj pliki tekstowe
Comment[pt_BR]=Editar arquivos de texto
Comment[ro]=Editare fişiere text
Comment[sq]=Përpunoni kartela teksti
Comment[sv]=Redigera textfiler
Comment[vi]=Soạn thảo văn bản
Comment[zh_TW]=編輯文字檔案
X-XFCE-IconCategory=1

