[Entry 0]
Name=Command Prompt
Name[be]=Загадны радок
Name[ca]=Indicador d’ordres
Name[cs]=Příkaz
Name[de]=Befehlseingabe
Name[el]=Γραμμή εντολών
Name[eo]=Komandinvito
Name[es]=Línea de ordenes
Name[eu]=Komando Lerroa
Name[fr]=Ligne de commande
Name[he]=שורת פקודה
Name[hu]=Parancssor
Name[ko]=명령어 입력
Name[mk]=Команда
Name[nl]=Commando-regel
Name[pa]=ਕਮਾਂਡ ਪਰਾਉਂਟ
Name[pl]=Znak Zachęty
Name[pt_BR]=Prompt de Comandos
Name[ro]=Linie de comandă
Name[sv]=Kommandorad
Name[vi]=Dấu nhắc lệnh
Name[zh_TW]=指令提示
Exec=Terminal
Terminal=false
StartupNotify=true
Comment=X terminal emulator
Comment[be]=Эмулятар X тэрмінала
Comment[ca]=Emulador de terminal
Comment[cs]=Emulátor terminálu X
Comment[de]=X-Terminalemulator
Comment[el]=Προσομοίωση τερματικού X
Comment[eo]=X-Terminala imitilo
Comment[es]=Emulador de terminal para X
Comment[eu]=X terminal emiladorea
Comment[fr]=Émulateur de terminal X
Comment[he]=מסוף
Comment[hu]=X terminál emulátor
Comment[ko]=X 터미널
Comment[mk]=Емулатор за терминал за X
Comment[nl]=X terminal emulator
Comment[pa]=X ਟਰਮੀਨਲ ਈਮੁਲੇਟਰ
Comment[pl]=Emulator terminala X
Comment[pt_BR]=Emulador de terminal do X
Comment[ro]=Emulator de terminal X
Comment[sq]=Emulues terminali X
Comment[sv]=Terminalemulator för X
Comment[vi]=Trình giả lập terminal X
Comment[zh_TW]=X 終端機模擬器
X-XFCE-IconCategory=13

