[Desktop Entry]
Exec=pipewire
OnlyShowIn=KDE;
Type=Application
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
Icon=kmix
GenericName=Sound daemon
Name=pipewire
Categories=Qt;KDE;AudioVideo;Audio;Mixer;

